header.row
  div.col-sm-4
    h1 Online Shop

  nav.col-sm-8.navbar.navbar-default
    div.container-fluid
      ul.nav.nav-pills.navbar-right.site-nav
        li
          span.btn.btn-default.shopping-cart
            span.glyphicon.glyphicon-shopping-cart
            span.cart-num-items 0
            |  Items in cart
        li <a href="index.html"> Home </a>
        li <a href="products.html"> Products </a>
        li <a href="contact.html"> Contact </a>
