html, body {
    background-image: url("../img/dark_embroidery.png");
    background-color: rgb(51,51,51);
}

.site-wrapper {
  max-width: 1200px;
  width: 100%
}

.site-nav {
    margin-top: 1.2em;
}

.shopping-cart {
    margin-top: 0.3em;
    margin-right: 1em;
}

header, main, footer {
    background-color: white;
    border-radius: 4px;
    margin: 1em 0;
    box-shadow: 0px 0px 10px rgb(51, 51, 51);
}

header {
    color: white;
    background-color: rgb(0, 160, 255);
}
header h1 {
    font-weight: bold;
}

/* Text Panels */
.txt-panel {
    border-radius: 4px;
    display: block;
    padding: 6px 12px;
    margin-top: 1em;
    margin-bottom: 0.5em;
    color: rgb(51, 51, 51);
    background-color: rgb(234, 234, 234);
    box-shadow: 0px 2px rgb(200,200,200);
}

.txt-panel-inline {
    display: inline-block;
}

.txt-panel-inv {
    color: rgb(234, 234, 234);
    background-color: rgb(51, 51, 51);
    box-shadow: 0px 2px rgb(0,0,0);
}

.txt-panel-blue {
    color: white;
    background-color: rgb(0, 160, 255);
    box-shadow: 0px 2px rgb(0,115,176);
}

.txt-panel-yellow {
    color: rgb(110, 100, 0);
    background-color: rgb(255, 230, 0);
    box-shadow: 0px 2px rgb(190,170,0);
}
/* --END-- Text Panels */

article p {
    padding: 0 1em;
}


.text-price {
  font-weight: bold;
  font-size: 1.5em;
  color: rgb(30, 180, 15);
}

nav.navbar-default {
  background: transparent;
  border: transparent;
}

.price-tag {
  display: inline-block;
  padding: 6px 12px;
  margin-bottom: 0;
  font-size: 14px;
  font-weight: normal;
  line-height: 1.42857143;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  background-image: none;
  border: 1px solid transparent;
  border-radius: 4px;

  color: rgb(13, 91, 4);
  background-color: rgb(80, 200, 100);
  border-color: rgb(65, 160, 85);
}
