.product-list-name {
  font-weight: bold;
  font-size: 1em;
}
.product-wrapper {
    padding: 0;
  padding-bottom: 1em;
  transition: background 0.3s;
}

.product-wrapper:hover {
  cursor: pointer;
  border-radius: 5px;
  background: rgb(199, 199, 199);
  background: rgba(0,0,0,0.1);
  transition: background 0s;
}

a.product-link {
  text-decoration: none;
  color: inherit;
}

/* .product-list-info *{ */
/*   max-height: 100px; */
/* } */

.product-list-header {
    margin-top: 1em;
}

.product-list-name {
    margin-top: 1em;
    margin-bottom: 0;
}

.discount-ammount {
    font-size: 120%;
    color: red;
    vertical-align: middle;
    margin-top: 0.1em;
    margin-left: 0.3em;
}

.right-panel {
    margin-bottom: 1em;
}