h3 {
    margin-bottom: 1em;
}

a.product-link:hover {
  cursor: pointer;
  border-radius: 5px;
  background: rgb(199, 199, 199);
  background: rgba(0,0,0,0.1);
  transition: background 0s;
}

a.product-link {
  text-decoration: none;
  color: inherit;
  padding: 0.5em;
  transition: background 0.3s;
}

a.product-link .product-list-name{
    display: inline-block;
    vertical-align: middle;
}

a.remove-item-btn {
    display: inline-block;
    float: none;
    /* margin-top: 0.5em; */
    vertical-align: middle;
    font-size: 200%;
    color: red;
    text-decoration: none;
}

a.remove-item-btn:hover {
    color: rgb(255, 100, 100);
    text-decoration: none;
}

.product-link img {
    max-height: 30px;
    margin-right: 1em;
}

.cart-toolbar {
    margin-top: 0.5em;
}

.clearcart-btn {
    margin-left: 0.2em;
}

input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}

.prod-qty {
    text-align: center;
    max-width: 3em;
}