//output:$1.html
include ./mixins.jade

doctype html
html(lang="en")
	head
		include ./head.jade
		link(rel="stylesheet" href="css/index.css")
		title Test
	body
		div.container.site-wrapper
			include ./header.jade
			
			main.row
				include ./guest-panel.jade
				div.col-sm-8.main-content
					h3 Contact
					hr
					p Contact information here
				
				aside.col-sm-2.right-panel
					div.discounts
						h3 Discounts
						hr
						div.thumbnail.discount-product
							img(src="http://placehold.it/350x250")
							div.caption
								h4 Example Discount 1
								span.price-tag &euro;5.49
								
					div.random
						h3 Random Item
						hr
						div.thumbnail.discount-product
							img(src="http://placehold.it/350x250")
							div.caption
								h4 Random Product 1
								span.price-tag &euro;6.21
			
			footer.row
				div.col-xs-12
					h4 LBAW
