aside.col-sm-2.left-panel
  div.user-panel
    h3 Welcome <strong>Guest</strong> 
    nav.navbar
      div.container-fluid
        ul.nav.nav-stacked
          li <a href="#">Login</a>
          li <a href="#">Register</a>
