header.row
  div.col-sm-4
    h1 Online Shop
  
  nav.col-sm-8.navbar.navbar-default
    div.container-fluid
      ul.nav.navbar-nav.navbar-right.site-nav
        li
          span.btn.btn-default
            span.glyphicon.glyphicon-shopping-cart
            |   0 Items in cart
        li <a href="index.html"> Home </a>
        li <a href="products.html"> Products </a>
        li <a href="contact.html"> Contact </a>
