mixin listed-product(name, price, description)
	h5.product-list-name=name
	span.price-tag &euro;#{price}
	hr
	div.row.product-list-info
		div.col-sm-4
			img.img-responsive.img-rounded.product-image(src="http://placehold.it/350x250")
		div.col-sm-8.product-list-description
			p=description
