aside.col-sm-2.left-panel
  div.user-panel
    h3 Welcome <strong>User</strong> 
    img.img-responsive.img-thumbnail(src="http://placehold.it/100x100")
    br
    nav.navbar
      div.container-fluid
        ul.nav.nav-stacked
          li <a href="#">Profile</a>
          li <a href="#">Logout</a>
