aside.col-sm-2.left-panel
  div.row
    div.user-panel.col-xs-12
      h3 Welcome <strong>User</strong>
      img.img-responsive.center-block.img-thumbnail(src="http://placehold.it/100x100")
      br
      nav.navbar
        div.container-fluid
          ul.nav.nav-stacked(style="text-align: center")
            li <a href="user-profile.html">Profile</a>
            li <a href="#">Logout</a>
